<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BachelorLibAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BachelorLibAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Course_DB.Properties.Settings.Course_DBConnectionString"
            connectionString="Data Source=alex-pc\alexsql;Initial Catalog=Course_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Course_DB.Properties.Settings.Course_DBConnectionString1"
            connectionString="Data Source=alex-pc\sqlexpress;Initial Catalog=Course_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Course_DB.Properties.Settings.Course_DBConnectionString2"
            connectionString="Data Source=ALEX-PC\sqlexpress;Initial Catalog=Course_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BachelorLibAPI.Properties.Settings.Course_DBConnectionString"
            connectionString="Data Source=alex-pc\alexsql;Initial Catalog=Course_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BachelorLibAPI.Properties.Settings.Course_DBConnectionString1"
            connectionString="Data Source=alex-pc\sqlexpress;Initial Catalog=Course_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BachelorLibAPI.Properties.Settings.Course_DBConnectionString2"
            connectionString="Data Source=ALEX-PC\sqlexpress;Initial Catalog=Course_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <BachelorLibAPI.Properties.Settings>
            <setting name="AverageVelocity" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ManLabor" serializeAs="String">
                <value>70</value>
            </setting>
        </BachelorLibAPI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <BachelorLibAPI.Properties.Settings>
            <setting name="MchsAverageVelocity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpecialCarLabor" serializeAs="String">
                <value>600</value>
            </setting>
        </BachelorLibAPI.Properties.Settings>
    </userSettings>
</configuration>
