<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Course_DB.Properties.Settings.Course_DBConnectionString"
            connectionString="Data Source=alex-pc\sqlexpress;Initial Catalog=Course_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>